extends layout

block content
    #headerTopBack
    #mainSubject
        #subjectHeader
        #subjectBody
            #firstColumn.threeColumns
                #themeTools
                    button#addTheme Add New Theme
                    button#clearThemes Clear Themes List
                #themesList
            #secondColumn.threeColumns
            #thirdColumn.threeColumns

    script(src="/javascripts/jquery-1.9.1.js")
    script(src="/javascripts/underscore.js")
    script(src="/javascripts/backbone.js")
    script(src="/javascripts/backbone-relational.js")
    script(src="/javascripts/subjectEditor.js")
    script
        (function($) {
            $.subjEditor.bootstrap();
        })(jQuery);
